<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="wishList.DWS_WishList_10_Test"/>
      <class name="price.DWS_Price_07_Test"/>
      <class name="compareProduct.DWS_CompareProduct_06_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
